/* ----- OVERALL SETTINGS ----- */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin: 0;
  font-size: 1rem;
  background-color: #e5dfbd;
  background-image: url(img/Icon\ feather-search.png);
  font-family: "montserrat", sans-serif, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "roboto slab", sans-serif;
}

/* ----- HAMBURGER MENU -----

.hamb-dropdown {
  display: none;
  position: absolute;
  background-color: violet;
}
.hamb-dropdown a {
  display: block;
  text-decoration: none;
  margin: 1em;
}
.hamb-btn {
  background: transparent;
  border: none;
  font-size: 2em;
  color: #ffd166;
}
#hamb-check {
  display: none;
}

#hamb-check:checked ~ .hamb-dropdown {
  display: block;
}

.hambicon {
  color: #ffd166;
}

*/

/* ----- GRID SETUPS ----- */
/* ----------------------- */
.bodygrid {
  display: grid;

  min-height: 100vh;
  grid-template-columns: minmax(1em, 1fr) minmax(auto, 6fr) minmax(1em, 1fr);
  grid-template-rows: auto auto 1fr auto;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  grid-column: 1 / span 3;
  grid-row: 1;
  /* border: 1px solid blueviolet; */
  background-color: #073b4c;
  align-items: center;
  justify-content: space-around;
}
.header {
  display: grid;
  grid-row: 2;
  grid-column: 1 / span 3;
  /*  border: 1px solid blueviolet; */
  background-image: url(img/hero-bg-5.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 0 6em 0;
  justify-items: center;
}
.header-kids {
  display: grid;
  grid-row: 2;
  grid-column: 1 / span 3;
  /*  border: 1px solid blueviolet; */
  background-image: url(img/kids-explore.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 0 6em 0;
  justify-items: center;
}
@media (min-width: 1200px) {
  .header,
  .header-kids {
    padding: 0 0 18em 0;
    grid-column: 2 / span 1;
    border-radius: 0 0 10px 10px;
  }
}
.main {
  grid-column: 2;
  grid-row: 3;
  /*  border: 1px solid blueviolet; */
}
.footer {
  grid-column: 1 / span 3;
  grid-row: 4;
  /* border: 1px solid blueviolet; */
  background-color: #073b4c;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- NAVIGATION ----- */
/* ---------------------- */
.links-lrg {
  display: none;
}
@media (min-width: 1200px) {
  .hours-txt,
  .hambicon,
  .opening-hours,
  .fa-clock {
    display: none;
  }
  .links-lrg {
    display: flex;
    list-style: none;
  }
  .links-lrg a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
  }

  .ticketlink:hover {
    border-bottom: none;
    padding: 0.6em 0.6em;
  }

  .links-lrg a:hover {
    border-bottom: 2px solid #fff;
  }

  .ticketlink {
    background: #f6416c;
    padding: 0.5em 0.5em;
    border-radius: 10px;
  }
}
.hours-txt {
  display: flex;
  align-items: center;
  color: #ffd166;
}
.hours-txt p {
  margin: 0em 0 0 0;
  color: #ffd166;
}
.fa-clock {
  margin-right: 0.5em;
}

@media (min-width: 1200px) {
  .hours-txt {
    display: none;
  }
}

/* ----- LOGO ----- */
.logoimg {
  display: flex;
  align-items: center;
  color: white;
}
.logoimg p {
  display: none;
}

@media (min-width: 1200px) {
  .logoimg p {
    display: flex;
    align-items: center;
    color: white;
  }
}

.logoimg img {
  max-width: 100%;
  height: 70px;
}

/* ----- FOOTER SETTINGS ----- */
/* --------------------------- */
.footer a {
  color: aliceblue;
}
.footerlogo img {
  height: 50px;
  max-width: 100%;
}
.footerlinks1 li,
.footerlinks2 li {
  list-style: none;
  font-size: 50%;
  color: white;
}
.footerlinks1 a {
  text-decoration: none;
}
.hero-text {
  color: #ffd166;
}

/* ----- NEWS SECTION ----- */
/* ------------------------ */
.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.news1 {
  background-color: #00b8a9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #073b4c7c;
}
.news1 p,
.news1 a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.news-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}
.news-img img {
  width: 100px;
  border-radius: 10px 10px 10px 10px;
  height: auto;
}

.news1 a {
  margin-bottom: 1em;
}

/* ----- EVENTS SECTION ----- */
/* ------------------------ */
.events {
  display: grid;
  grid-template-areas:
    "upcoming"
    "event1"
    "event2"
    "event3";
}
@media (min-width: 1200px) {
  .events {
    grid-template-areas:
      "upcoming upcoming upcoming"
      "event1 event2 event3";
  }
}
.events-text {
  grid-area: upcoming;
}
.event1 {
  grid-area: event1;
}
.event1 h3,
.event1 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.event1 a {
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.event2 {
  grid-area: event2;
}
.event2 h3,
.event2 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.event2 a {
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.event3 {
  grid-area: event3;
}
.event3 h3,
.event3 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.event3 a {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.event1,
.event2,
.event3 {
  background-color: #f6416c;
  margin-bottom: 4em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #073b4c7c;
}
@media (min-width: 1200px) {
  .event2 {
    margin: 0 1em 4em 1em;
  }
}

.event1 img,
.event2 img,
.event3 img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

/* ----- EXHIBITIONS SECTION ----- */
/* ------------------------ */
.exhibitions {
  display: grid;
  grid-template-areas:
    "upcoming"
    "exhibit1"
    "exhibit2"
    "exhibit3"
    "exhibit4"
    "exhibit5";
}
@media (min-width: 1200px) {
  .exhibitions {
    grid-template-areas:
      "exhib exhib exhib exhib exhib"
      "exhibit1 exhibit2 exhibit3 exhibit4 exhibit5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-rows: minmax(1em, 4em) minmax(200px, 400px);
  }
  .exhib-text {
    grid-area: exhib;
    font-size: 2em;
  }
  .exhibit1,
  .exhibit2,
  .exhibit3,
  .exhibit4,
  .exhibit5 {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .footer {
    margin-top: 6em;
  }
  .exhibit1:hover,
  .exhibit2:hover,
  .exhibit3:hover,
  .exhibit4:hover,
  .exhibit5:hover {
    opacity: 90%;
  }
}

.exib-text h2 {
  background-color: #00b8a9;
}

.exhibit1 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(img/ex1.jpg);
  background-size: cover;
  border-radius: 10px;
  color: #ffd166;
  margin-bottom: 1em;
  align-content: center;
}

.exhibit2 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/ex2.jpg);
  background-size: cover;
  border-radius: 10px;
  color: #ffd166;
  margin-bottom: 1em;
}
.exhibit3 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/ex3.jpg);
  background-size: cover;
  border-radius: 10px;
  color: #ffd166;
  margin-bottom: 1em;
}
.exhibit4 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/ex4.jpg);
  background-size: cover;
  border-radius: 10px;
  color: #ffd166;
  margin-bottom: 1em;
}
.exhibit5 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/ex5.jpg);
  background-size: cover;
  border-radius: 10px;
  color: #ffd166;
  margin-bottom: 1em;
}
.exhibit1 h3,
.exhibit1 p,
.exhibit2 h3,
.exhibit2 p,
.exhibit3 h3,
.exhibit3 p,
.exhibit4 h3,
.exhibit4 p,
.exhibit5 h3,
.exhibit5 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.exhibit1 a,
.exhibit2 a,
.exhibit3 a,
.exhibit4 a,
.exhibit5 a {
  align-self: center;
  color: white;
  text-decoration: none;
  background-color: #f6416c;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 3px;
}
