/* ----- OVERALL SETTINGS ----- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");

body {
  margin: 0;
  font-size: 1rem;
  background-color: #e5dfbd;
  background-image: url(img/Icon\ feather-search.png);
  font-family: "montserrat", sans-serif, "Times New Roman", Times, serif;
}

h1 {
  font-size: 2em;
  font-family: "roboto slab", sans-serif;
  margin-bottom: 0.25em;
}
h2,
h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "roboto slab", sans-serif;
}
p {
  font-family: "montserrat", sans-serif;
}

/* ----- HAMBURGER MENU ---- */

.hamb-dropdown {
  display: none;
  position: absolute;
  background-color: #073b4c;
  right: 0;
  top: 100%;
}
.hamb-dropdown a {
  display: block;
  text-decoration: none;
  margin: 1em;
  color: #ffd166;
  font-size: 1.2em;
}
.hamb-btn {
  background: transparent;
  border: none;
  font-size: 2em;
  color: #ffd166;
  padding: 0;
}
#hamb-check {
  display: none;
}

#hamb-check:checked ~ .hamb-dropdown {
  display: block;
}

.hambicon {
  color: #ffd166;
}

/* ----- GRID SETUPS ----- */
/* ----------------------- */
.bodygrid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(1em, 1fr) minmax(auto, 1400px) minmax(1em, 1fr);
  grid-template-rows: auto auto 1fr auto;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  grid-column: 1 / span 3;
  grid-row: 1;
  /* border: 1px solid blueviolet; */
  background-color: #073b4c;
  align-items: center;
  justify-content: space-around;
}
.header {
  display: grid;
  grid-row: 2;
  grid-column: 1 / span 3;
  /*  border: 1px solid blueviolet; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(img/bg80.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 0 0 0;
  justify-items: center;
}
.header-kids {
  display: grid;
  grid-row: 2;
  grid-column: 1 / span 3;
  /*  border: 1px solid blueviolet; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/kids-explore.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 0 0 0;
  justify-items: center;
}
@media (min-width: 1200px) {
  .header,
  .header-kids {
    padding: 0 0 0 0;
    grid-column: 2 / span 1;
    border-radius: 0 0 10px 10px;
    grid-template-rows: minmax(auto, 300px);
  }
}
.main {
  grid-column: 2;
  grid-row: 3;
}
.footer {
  grid-column: 1 / span 3;
  grid-row: 4;
  background-color: #073b4c;
  display: flex;
  align-items: normal;
  justify-content: space-evenly;
  padding: 0.5em 0;
}

/* ----- NAVIGATION ----- */
/* ---------------------- */
.links-lrg {
  display: none;
}
@media (min-width: 1200px) {
  .hours-txt,
  .hambicon,
  .opening-hours,
  .fa-clock {
    display: none;
  }

  .entry {
    background: #f6416c;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    color: white;
    margin-left: 2em;
  }

  .links-lrg {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .links-lrg a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
  }

  .links-lrg a:hover {
    border-bottom: 2px solid #fff;
  }

  .nav-small {
    display: none;
  }
}
.hours-txt {
  display: flex;
  align-items: center;
  color: #ffd166;
}
.hours-txt p {
  margin: 0em 0 0 0;
  color: #ffd166;
}
.fa-clock {
  margin-right: 0.5em;
}

@media (min-width: 1200px) {
  .hours-txt {
    display: none;
  }
}
.nav-content-small {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ----- LOGO ----- */
.logoimg {
  display: flex;
  align-items: center;
  color: white;
}
.logoimg p {
  display: none;
}

@media (min-width: 1200px) {
  .logoimg p {
    display: flex;
    align-items: center;
    color: white;
  }
}

.logoimg img {
  max-width: 100%;
  height: 70px;
}

/* ----- FOOTER SETTINGS ----- */
/* --------------------------- */
.footer a {
  color: white;
}
.footerlogo img {
  height: 50px;
  max-width: 100%;
}
.footerlinks1 ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
  font-size: 3em;
  justify-content: space-evenly;
}
.footerlinks1 {
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-left: 1px dotted #00b8a9;
  border-right: 1px dotted #00b8a9;
}

@media (min-width: 1200px) {
  .footerlinks1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 6em;
    padding-right: 6em;
  }
  .footerlinks1 i {
    font-size: 2em;
  }
  .footerlinks1 ul {
    gap: 1em;
  }
  .footerlinks1 a {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.footerlinks2,
.footerlinks1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.footerlinks2 ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.footerlinks1 li,
.footerlinks2 li {
  list-style: none;
  font-size: 50%;
  color: white;
}
.footerlinks1 a {
  text-decoration: none;
}
.footer-txt {
  color: white;
}
.newsletter {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .newsletter {
    justify-content: space-evenly;
  }
  .newsletter input,
  .newsletter button {
    font-size: 0.5em;
  }
}
.newsletter p {
  font-size: 0.5em;
  margin-top: 0.5em;
  color: white;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .newsletter,
  .footerlinks2 {
    font-size: 2em;
  }
  .footer {
    justify-content: space-evenly;
  }
  .hero-text {
    color: #ffd166;
    font-size: 3em;
    align-self: start;
  }
}

.hero-text {
  font-size: 2em;
  color: #ffd166;
}
.hero-text h1 {
  margin-top: 0.25em;
}

/* ----- NEWS SECTION ----- */
/* ------------------------ */
.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}
.news-head h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .news-head h1 {
    margin-top: 2em;
  }
}
.news1 {
  background-color: #ffd166;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #073b4c7c;
}
.news1 h3 {
  text-align: center;
}
.energ-img {
  display: none;
}
@media (min-width: 1200px) {
  .news-img {
    display: none;
  }
  .news1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .newstxt1 {
    grid-row: 2;
    grid-column: 2;
    line-height: 2em;
    margin-top: 0;
  }
  .newstxt2 {
    grid-row: 3;
    grid-column: 2;
    line-height: 2em;
    margin-top: 0;
  }
  .energ-img {
    display: block;
    grid-row: 2 / span 2;
    grid-column: 1;
    border-radius: 0 10px 0 10px;
    max-width: 500px;
    height: auto;
  }
}
.news1 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.news-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 1200px) {
  .news-img {
    display: none;
  }
}
.news-img img {
  width: 150px;
  border-radius: 10px 10px 10px 10px;
  height: auto;
}

.news1 a {
  margin-bottom: 1em;
}

/* ----- EVENTS SECTION ----- */
/* ------------------------ */
.events {
  display: grid;
  grid-template-areas:
    "upcoming"
    "event1"
    "event2"
    "event3";
}

@media (min-width: 1200px) {
  .events {
    grid-template-areas:
      "upcoming upcoming upcoming"
      "event1 event2 event3";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
}
.events-text {
  grid-area: upcoming;
  font-size: 1.2em;
}
.events-text h2 {
  margin-bottom: 1em;
}
@media (min-width: 1200px) {
  .events-text h2 {
    margin-bottom: 0;
  }
}
.event1 {
  grid-area: event1;
}
.event2 {
  grid-area: event2;
}

.event3 {
  grid-area: event3;
}

.event1,
.event2,
.event3 {
  background-color: #f6416c;
  margin-bottom: 4em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #073b4c7c;
}

.event1 img,
.event2 img,
.event3 img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}
.event1 h3,
.event2 h3,
.event3 h3 {
  margin: 1em 0.5em 0 0.5em;
}
@media (min-width: 1200px) {
  .event1 h3,
  .event2 h3,
  .event3 h3 {
    margin: 1em 0.5em 1em 0.5em;
  }
}
.event-txt {
  margin: 2em 0.5em 1em 0.5em;
  min-height: 120px;
  display: flex;
  line-height: 1.5;
}
.event-date {
  align-self: flex-end;
  margin: 0;
  background-color: #ffd166;
  padding: 0.5em;
  border-radius: 10px 0 0 10px;
}

/* ----- EXHIBITIONS SECTION ----- */
/* ------------------------ */
.exhibitions {
  display: grid;
  grid-template-areas:
    "exhib"
    "exhibit1"
    "."
    "exhibit2"
    "."
    "exhibit3"
    "."
    "exhibit4"
    "."
    "exhibit5";
}
.exhibit1,
.exhibit2,
.exhibit3,
.exhibit4,
.exhibit5 {
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  color: #ffd166;
  align-content: center;
  height: 250px;
  max-width: 400px;
  box-shadow: 5px 5px 5px grey;
}
.ex-text-1,
.ex-text-2,
.ex-text-3,
.ex-text-4,
.ex-text-5 {
  margin-top: 0;
  background-color: #ffd166;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 1em;
  max-width: 368px;
  line-height: 1.5em;
  font-size: 0.8em;
  box-shadow: 5px 5px 5px grey;
}
.exhibit1 {
  grid-area: exhibit1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img/ex1-2.jpg);
}
.exhibit2 {
  grid-area: exhibit2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(img/ex2-2.jpg);
}
.exhibit3 {
  grid-area: exhibit3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img/ex5-2.jpg);
}
.exhibit4 {
  grid-area: exhibit4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img/ex4-2.jpg);
}
.exhibit5 {
  grid-area: exhibit5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(img/ex3-2.jpg);
}
.exhibit1 h3,
.exhibit2 h3,
.exhibit3 h3,
.exhibit4 h3,
.exhibit5 h3 {
  text-align: center;
}

@media (min-width: 1200px) {
  .exhibitions {
    grid-template-areas:
      "exhib exhib exhib exhib exhib"
      "exhibit1 exhibit1 . . ."
      "exhibit2 exhibit2 . . ."
      "exhibit3 exhibit3 . . . "
      "exhibit4 exhibit4 . . . "
      "exhibit5 exhibit5 . . . ";

    grid-template-columns: minmax(auto, 250px) minmax(auto, 250px) 1fr 1fr 1fr;
    gap: 1em;
    grid-template-rows: minmax(1em, auto) auto auto auto auto auto;
  }
  .exhib-text {
    grid-area: exhib;
  }
  .exhibit1,
  .exhibit2,
  .exhibit3,
  .exhibit4,
  .exhibit5 {
    align-items: center;
    text-align: center;
    height: 300px;
    max-width: 500px;
    border-radius: 10px;
  }
  .footer {
    margin-top: 6em;
  }
  .exhibit1:hover,
  .exhibit2:hover,
  .exhibit3:hover,
  .exhibit4:hover,
  .exhibit5:hover {
    opacity: 90%;
  }
  .ex-text-1,
  .ex-text-2,
  .ex-text-3,
  .ex-text-4,
  .ex-text-5 {
    grid-column: 3 / span 3;
    line-height: 2.25em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    max-width: 999px;
    font-size: 1em;
  }
}

.exhibit1 p,
.exhibit2 p,
.exhibit3 p,
.exhibit4 p,
.exhibit5 p {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* .mammoth img {
  max-width: 200px;
  position: absolute;
  bottom: 8em;
} */

/* ----- EXPLORE SECTION ----- */
/* ------------------------ */
.kids-explore,
.teachers-explore,
.research-explore {
  display: grid;
}
.kids-explore {
  gap: 1em;
}

.teachers-explore,
.research-explore {
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 5px 5px 5px grey;
}
.teachers-explore {
  background-color: #ffd166;
  margin-top: 4em;
}
.research-explore {
  background-color: #f6416c;
  margin-bottom: 2em;
  margin-top: 2em;
}

.k-explore1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #00b8a9;
  padding: 0.5em;
  box-shadow: 5px 5px 5px grey;
}
.woolly-pic {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .kids-explore {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-rows: auto auto auto;
  }
  .k-explore1 {
    display: grid;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    grid-template-columns: auto auto;
  }
  .k-explore1 p {
    grid-row: 2;
    grid-column: 1;
    line-height: 2;
    margin-right: 1em;
  }
  .k-explore1 h3 {
    grid-column: 1 / span 2;
  }
  .woolly-pic {
    grid-row: 2;
    grid-column: 2;
  }
  .woolly-pic img {
    width: 100%;
  }

  .k-explore2 {
    grid-row: 2;
    grid-column: 3 / -1;
  }
  .k-explore3 {
    grid-row: 3;
    grid-column: 3 / -1;
    background-position: center;
    background-size: cover;
    background-color: #fff;
  }
}

.woolly-pic img {
  max-height: 250px;
  min-width: 250px;
}
.k-explore2 {
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/exp1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  max-width: 100%;
  color: white;
  box-shadow: 5px 5px 5px grey;
}
.k-explore2 h3 {
  background-color: #f6416c;
  justify-self: flex-start;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0 10px 10px 0;
}
.fa-star,
.fa-chalkboard-teacher,
.fa-microscope {
  margin-left: 0.25em;
}
.ysc-txt {
  margin-top: 4em;
  margin-bottom: 0;
  text-align: center;
}
.ysc-txt2 {
  text-align: center;
  margin-top: 0.5em;
}
.k-explore3 {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/ysc-1.jpg);
  border-radius: 10px;
  max-width: 100%;
  padding: 0.5em;
  color: #e5dfbd;
  box-shadow: 5px 5px 5px grey;
  text-align: center;
}
.k-explore3 h3 {
  background-color: #00b8a9;
  align-self: center;
  padding: 0 0.5em 0 0.5em;
  border-radius: 10px;
}

/* ----- VISIT SECTION ----- */
/* ------------------------ */
.visit-main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "vheading vheading"
    "location hours"
    "admission admission"
    "food food"
    "shop shop";
  gap: 0.5em;
}
.visit-txt {
  grid-area: vheading;
}

.visit1 {
  grid-area: location;
  background-color: #ffd166;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1em;
  box-shadow: 5px 5px 5px grey;
}
.visit1 a {
  background-color: #073b4c;
  border-radius: 10px;
  padding: 0.5em;
  align-self: center;
  color: #ffd166;
  text-decoration: none;
  text-transform: uppercase;
}

.location-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9em;
}
.location-list li {
  margin-top: 1em;
}

.visit2 {
  grid-area: admission;
  background-color: #f6416c;
  border-radius: 10px;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 5px 5px 5px grey;
  margin-top: 1em;
  padding-bottom: 1em;
}
.visit2 a {
  text-decoration: none;
  border-radius: 10px;
  background-color: #073b4c;
  align-self: center;
  padding: 0.5em;
  color: #ffd166;
  font-size: 0.8em;
}
.entrance {
  font-weight: bold;
}

.visit3 {
  grid-area: hours;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: #00b8a9;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
.visit3 p {
  font-size: 0.9em;
}
.visit3 h3 {
  grid-column: 1 / span 2;
  justify-self: center;
}
.weekdays {
  grid-column: 1;
  grid-row: 2;
  justify-self: flex-start;
  margin-left: 2px;
  padding-left: 0.25em;
}
.week-hours {
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-end;
  margin-right: 2px;
  padding-right: 0.25em;
}
.visit4 {
  grid-area: food;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/visit4.jpg);
  background-position: center;
  color: #fff;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 5px 5px 5px grey;
  margin-top: 1em;
}
.visit5 {
  grid-area: shop;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/visit4-2.jpg);
  box-shadow: 5px 5px 5px grey;
  color: #fff;
  margin-top: 1em;
}

@media (min-width: 1200px) {
  .visit-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "vheading vheading vheading"
      "hours location food"
      "admission admission shop";
    gap: 1em;
  }
  .visit2 {
    display: flex;
    flex-direction: column;
  }
  .visit2 a {
    margin-bottom: 1em;
  }
  .visit5 {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .visit1 {
    display: flex;
    flex-direction: column;
  }
  .week-hours,
  .weekdays {
    justify-self: center;
  }
  .location-list,
  .visit3 p {
    font-size: 1.25em;
  }
  .visit4 {
    margin-top: 0;
  }
}

/* ----- TICKETS SECTION ----- */
/* ------------------------ */
.tickets-main {
  display: grid;
}
.ticket1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: #ffd166;
  border-radius: 10px;
  padding: 1em;
}
.t-head {
  grid-column: 1;
  grid-row: 1;
  margin: 16px 0 0 0;
  align-self: center;
}
.t-text {
  grid-column: 1;
  grid-row: 2;
  font-style: italic;
  font-size: 0.75em;
  margin: 0 0.5em 16px 0;
}
.t-price {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  margin-bottom: 0;
}
.t-no {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  margin-bottom: 16px;
}
.t-no2 {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
}

/* ----- GET INVOLVED SECTION ----- */
/* ------------------------ */
.support-main {
  display: grid;
  grid-template-areas:
    "get-involved"
    "support1"
    "volunteer"
    "internships"
    "contact";
  gap: 1em;
  margin-bottom: 4em;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .support-main {
    grid-template-areas:
      "get-involved get-involved"
      "support1 volunteer"
      "internships contact";
    grid-template-columns: auto auto;
  }

  .support1,
  .support2 {
    margin-bottom: 2em;
  }
}

.involved-txt {
  grid-area: get-involved;
}

.support1,
.support2,
.support3 {
  display: flex;
  flex-direction: column;
  max-width: 568px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 5px 10px #073b4c7c;
}
.support1 {
  grid-area: support1;
  background-color: #ffd166;
}
.support2 {
  grid-area: volunteer;
  background-color: #00b8a9;
}
.support3 {
  grid-area: internships;
  background-color: #f6416c;
}
.support4 {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/support1.jpg);
  min-height: 200px;
  max-width: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: #ffd166;
  align-items: center;
  box-shadow: 5px 10px #073b4c7c;
}
.support4 a {
  text-decoration: none;
  background-color: #073b4c;
  color: white;
  padding: 0.5em;
  border-radius: 10px;
  margin-top: 1em;
}

/* ----- CONTACT SECTION ----- */
/* ------------------------ */

.contact1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #ffd166;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
@media (min-width: 1200px) {
  .contact-txt {
    margin-top: 2em;
  }
}
.contact-name,
.contact-mail,
.contact-tel,
.contact-select {
  color: black;
  background-color: wheat;
}
#contact-msg {
  min-height: 16em;
  color: black;
  background-color: wheat;
}
.contact-submit {
  align-self: center;
}

@media (min-width: 1200px) {
  .contact1 {
    max-width: 800px;
    min-width: 600px;
  }
  .contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact-social ul {
  list-style: none;
  font-size: 0.8em;
  margin-bottom: 2em;
}
@media (min-width: 1200px) {
  .contact-social ul {
    font-size: 1.2em;
    margin-bottom: 4em;
  }
}

.contact-social i {
  margin-right: 1em;
  color: #073b4c;
  font-size: 2em;
}
